{% extends "base.html" %}

{% load static %}



{% block content %}
    <div class="container container-w-95 mb-5">
        <div class="page-header bg-warning">
            <div class="page-header--content d-flex justify-content-between align-items-center">
                <div class="page-header--title">
                    <h4 class="text-light">Categories</h4>
                </div>
                <div class="page-header--breadcrumb">
                    <ul class="breadcrumb p-0 m-0 bg-transparent">
                        <li class="breadcrumb-item">
                            <a class="text-light small" href="">Home</a>
                        </li>
                        <li class="breadcrumb-item small">
                            <a class="text-light" href="">Categories</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" id="categories-section">
            <div class="col-lg-8">
                <!-- listview/gridview/filters -->
                <div class="listing-actions mr-4">
                    <div class="listing-actions--wrapper d-flex justify-content-between align-items-center">
                        <div class="listing-actions--left">
                            <a href="" class="text-dark mr-2 listing-action listing-action-active">
                                <i class="fas fa-th-list"></i>
                            </a>
                            <a href="" class="text-dark listing-action mr-2">
                                <i class="fas fa-th"></i>
                            </a>
                            <span class="text-muted small" id="listing-actions-result-summary">
                                Showing 1–9 of 16 results
                            </span>
                        </div>
                        <div class="listing-actions--right">
                            <form action="">
                                <select name="" id="">
                                    <option value="" selected>select an option</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 1</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
                
                <!-- category listing and pagination -->
                <div class="row mt-4 categories-row pr-4">
                    
                    {% for category in categories %}
                        <div class="col-lg-4 mb-4">
                            <div class="category-card">
                                <div class="category-card-img">
                                    <img src="{{ category.image.url }}" alt="">
                                </div>
                                <div class="category-card-metadata text-center py-2">
                                    <a href="{{ category.get_absolute_url }}">
                                        <p>{{ category.name }}</p>
                                    </a>    
                                    <span class="text-muted">$2500</span>
                                </div>
                                <div class="category-card--actions">
                                    <button data-category-id="{{ category.id }}"
                                        class="btn btn-success mb-2 add-to-cart">Add to cart
                                    </button>
                                    <a href="{{ category.get_absolute_url }}" 
                                        class="btn btn-warning">Details
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                        
                    <!-- <div class="col-lg-4 mb-4">
                        <div class="category-card">
                            <div class="category-card-img">
                                <img src="{% static 'images/products/product-1.jpg' %}" alt="">
                            </div>
                            <div class="category-card-metadata text-center py-2">
                                <p>Category Name</p>
                                <span class="text-muted">$2500</span>
                            </div>
                            <div class="category-card--actions">
                                <a href="" class="btn btn-warning">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="category-card">
                            <div class="category-card-img">
                                <img src="{% static 'images/products/product-1.jpg' %}" alt="">
                            </div>
                            <div class="category-card-metadata text-center py-2">
                                <p>Category Name</p>
                                <span class="text-muted">$2500</span>
                            </div>
                            <div class="category-card--actions">
                                <a href="" class="btn btn-warning">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="category-card">
                            <div class="category-card-img">
                                <img src="{% static 'images/products/product-1.jpg' %}" alt="">
                            </div>
                            <div class="category-card-metadata text-center py-2">
                                <p>Category Name</p>
                                <span class="text-muted">$2500</span>
                            </div>
                            <div class="category-card--actions">
                                <a href="" class="btn btn-warning">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="category-card">
                            <div class="category-card-img">
                                <img src="{% static 'images/products/product-1.jpg' %}" alt="">
                            </div>
                            <div class="category-card-metadata text-center py-2">
                                <p>Category Name</p>
                                <span class="text-muted">$2500</span>
                            </div>
                            <div class="category-card--actions">
                                <a href="" class="btn btn-warning">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="category-card">
                            <div class="category-card-img">
                                <img src="{% static 'images/products/product-1.jpg' %}" alt="">
                            </div>
                            <div class="category-card-metadata text-center py-2">
                                <p>Category Name</p>
                                <span class="text-muted">$2500</span>
                            </div>
                            <div class="category-card--actions">
                                <a href="" class="btn btn-warning">Details</a>
                            </div>
                        </div>
                    </div> -->

                    <!-- paginator -->
                    <div class="col-12 mt-5 py-4 top-border-5 border-light 
                        d-flex justify-content-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination custom-pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fas fa-long-arrow-alt-left"></i>
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fas fa-long-arrow-alt-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pl-5">
                <div class="category-list-sidebar ">
                    <div class="sidegroup">
                        <div class="sidegroup--title mb-3">
                            <span class="halfline yellow-border"></span>
                            <h4>Cart</h4>
                        </div>
                        <div class="sidebar-cart">
                            <div class="sidebar-cart--cart-items">
                                <!-- <div class="sidebarcart-item py-3 d-flex align-items-center border-bottom">
                                    <div id="rm-item1" class="pointer cart-item-remover">
                                        <i class="fas fa-times"></i>
                                    </div>
                                    <div class="sidebarcart-item--img">
                                        <img src="{% static 'images/products/product-1.jpg' %}" alt=""
                                            width="65" height="65">
                                    </div>
                                    <div class="sidebarcart-item--info">
                                        <p>Aglaonema Quadro - Blue</p>
                                        <span class="text-muted">
                                            2 x $400
                                        </span>
                                    </div>
                                </div>

                                <div class="sidebarcart-item py-3 d-flex 
                                    align-items-center border-bottom">
                                    <div id="rm-item1" class="pointer cart-item-remover">
                                        <i class="fas fa-times"></i>
                                    </div>
                                    <div class="sidebarcart-item--img">
                                        <img src="{% static 'images/products/product-1.jpg' %}" alt=""
                                            width="65" height="65">
                                    </div>
                                    <div class="sidebarcart-item--info">
                                        <p>Aglaonema Quadro - Blue</p>
                                        <span class="text-muted">
                                            2 x $400
                                        </span>
                                    </div>
                                </div>

                                <div class="sidebarcart-item py-3 d-flex  align-items-center border-bottom">
                                    <div id="rm-item1" class="pointer cart-item-remover">
                                        <i class="fas fa-times"></i>
                                    </div>
                                    <div class="sidebarcart-item--img">
                                        <img src="{% static 'images/products/product-1.jpg' %}" alt=""
                                            width="65" height="65">
                                    </div>
                                    <div class="sidebarcart-item--info">
                                        <p>Aglaonema Quadro - Blue</p>
                                        <span class="text-muted">
                                            2 x $400
                                        </span>
                                    </div>
                                </div> -->
                            </div>
                            <div class="sidebar-cart--cart-metadata">
                                <div class="sidebar-cart--subtotal py-3 small">
                                    <p>Subtotal: $800</p>
                                </div>
                                <div class="sidebar-cart--actions">
                                    <a href="" class="btn btn-sm btn-warning">
                                        View Cart
                                    </a>
                                    <a href="" class="btn btn-sm btn-success">
                                        Checkout
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5">
        {% include 'partials/_footer.html' %}
    </div>
{% endblock content %}



{% block javascript %}
    <script>
        const listingActionBtns = document.querySelectorAll('.listing-action');
        let activeListingBtn = document.querySelector('.listing-action-active')
        var cartItemRmBtns = document.querySelectorAll('.cart-item-remover');
        const addToCartBtns = document.querySelectorAll('.add-to-cart');
        const sidebarCartItemsContainer = document.querySelector('.sidebar-cart--cart-items');
        const subtotalElem = document.querySelector('.sidebar-cart--subtotal p');

        function checknUpdateSubtotal(){
            if (sidebarCartItemsContainer.children.length <= 0) {
                subtotalElem.textContent = 'No items in the cart';
            } else {
                // show subtotal amount in the container element.
                subtotalElem.textContent = `Subtotal: $1000`;
            }
        }

        function rmCartItem(){
            const elem = event.target.parentNode.parentNode;
            elem.remove();
            checknUpdateSubtotal();
        }

        function addToCart() {
            categoryId = this.dataset.categoryId;
            const url = `/api/core/category/${categoryId}`;
            fetch(url, {
                method: 'GET',
            }).then(function(response){
                return response.json();
            }).then(function(data){
                const newCartItem = `
                <div class="sidebarcart-item py-3 d-flex
                    align-items-center border-bottom">
                    <div id="rm-item-${data.id}" class="pointer cart-item-remover mr-3"
                        onclick="rmCartItem()">
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="sidebarcart-item--img mr-3">
                        <img src="${data.image}" alt=""
                            width="65" height="65">
                    </div>
                    <div class="sidebarcart-item--info">
                        <p>${ data.name }</p>
                        <span class="text-muted">
                            2 x $400
                        </span>
                    </div>
                </div>
                `;
                sidebarCartItemsContainer.insertAdjacentHTML('beforeend', newCartItem);
                cartItemRmBtns = document.querySelectorAll('.cart-item-remover');
                checknUpdateSubtotal();
            }).then(function(err){
                // console.log(err, 'FAILEDDDDDD');
            })
        }

        // table, grid view, range
        listingActionBtns.forEach(function(actionItem){
            actionItem.addEventListener('click', function(e){
                activeListingBtn.classList.remove('listing-action-active');
                e.preventDefault();
                actionItem.classList.toggle('listing-action-active');
                activeListingBtn = actionItem;
            });
        });

        addToCartBtns.forEach(function(category){
            category.addEventListener('click', addToCart)
        });

        // IFEES
        (function(){
            checknUpdateSubtotal();
        })()
    </script>
{% endblock javascript %}
    