{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- banner part start -->
    <section id="banner_full">
        <div class="banner_item" 
            style="background: url({% static 'images/pexels-fauxels-3184465.jpg' %});">
            <div class="container p-lg-0">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <div class="banner_text">
                            <h1>The New Way To DesignYour Marketing Campaing</h1>
                            <p>Get your design done only based on your needs</p>
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner_item" style="background: url({% static 'images/pexels-fauxels-3228711.jpg' %});">
            <div class="container p-lg-0">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <div class="banner_text">
                            <h1>The New Way To DesignYour Marketing Campaing</h1>
                            <p>Get your design done only based on your needs</p>
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner_item" style="background: url({% static 'images/pexels-fauxels-3184665.jpg' %});">
            <div class="container p-lg-0">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <div class="banner_text">
                            <h1>The New Way To DesignYour Marketing Campaing</h1>
                            <p>Get your design done only based on your needs</p>
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part end -->

    <!-- Your identity part start -->
    <section id="identity_full">
        <div class="container p-lg-0">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="mt-5">
                        <h2>Browse Our Products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="catagoys_btn">
                        <ul class="nav nav-pills mb-3 cl_menu" id="pills-tab" role="tablist">
                            {% for category in featured_categories %}
                                <li class="nav-item">
                                    <a class="nav-link text-light {% if forloop.counter == 1 %}active{% endif %}" 
                                        id="pills-{{ category.pk }}-tab" data-toggle="pill" 
                                        href="#{{ category.name|slugify }}_data" role="tab" aria-controls="pills-{{ category.pk }}" 
                                        aria-selected="true">
                                        <img src="{{ category.category_icon.url }}" alt="">
                                    </a>
                                </li>
                            {% endfor %}
                            <li>
                                <a href="{% url 'core:category_list' %}" class="maroff">View More Catagory</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Your identity part end -->

    <!-- newslatter part start -->
    <section id="newslatter_full">
        <div class="container p-lg-0">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="newaslatter_text">
                        <h4>Join Our Newsletter</h4>
                        <p>Enter your email and be the first to know about special offers, new arrivals and events!</p>
                        <form>
                            <input type="emnail" name="your-email" aria-required="true" placeholder="Enter Your Email">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- news latter part end -->
    
    <!-- Footer -->
    {% include 'partials/_footer.html' %}

{% endblock content %}