DATABASE_URL=postgres://myuser:mypasswd@localhost:5432/apeiro_agency
DJANGO_EMAIL_BACKEND=
EMAIL_USE_TLS=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
DEFAULT_TO_EMAIL=
