{% load static %}
<!-- contact part start -->
<section id="contact_full" class="bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="contactp1">
                    <a href="#"><img src="{% static 'images/logo-2.png' %}" alt=""></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typeset ing industry.</p>
                    <div class="social_icon">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="contactp2">
                    <h6>Customer Services</h6>
                    <ul>
                        <li><a href="{% url 'account_signup' %}">Register</a></li>
                        <li><a href="{% url 'account_login' %}">Login</a></li>
                        <li><a href="#">Track Order</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="contactp2">
                    <h6>FAQ</h6>
                    <ul>
                        <li><a href="#">Ordering Info</a></li>
                        <li><a href="#">Shipping & Dealivery</a></li>
                        <li><a href="#">Our Service</a></li>
                        <li><a href="#">Pricing Tables</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="contactp3">
                    <h6>Contact Us</h6>
                    <ul>
                        <li>94 Stockman Drive</li>
                        <li>Phone: +880 123 456 7890</li>
                        <li>Email:youremail@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact part end -->