{% load static i18n %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Apeiro.ca{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="subscription based service selling system">
        <meta name="author" content="tareqmonwer">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <![endif]-->

        <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

        {% block css %}
        <!-- Third-party CSS libraries go here -->
        <!-- This file stores project-specific CSS -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'css/venobox.css' %}">
        <link rel="stylesheet" href="{% static 'css/venobox.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

        <link href="{% static 'css/project.css' %}" rel="stylesheet">
        {% endblock %}

    </head>

    <body>

    <!-- Navbar -->
    {% include 'partials/_navbar.html' %}

    {% if messages %}
        <div class="container">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}
        <p>Subscription based service selling platform.</p>
    {% endblock content %}

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Bootstrap JS and its dependencies-->
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/venobox.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/maugallery.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

    <!-- Third-party javascript libraries go here -->


    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/project.js' %}"></script>
    {% block javascript %}
        
    {% endblock javascript %}
    </body>
</html>

